
.homeMain{
  height: calc(100vh);
  width: 100%;
  background-color: black;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 15px;
}
.homeDescriptionText{
  margin: 0px;
  color: white;
  font-size: 50px;
  font-family: 'Geist', sans-serif;
  white-space: pre-wrap;
  padding-top: 80px ;
  margin-left: 40px;
  transform: translateX(-700px);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.visibleHomeDescriptionText{
  transform: translateX(0px);
}

.mechanismExplanation{
  font-size: 35px;
  padding-left: 20px;
  padding-top: 20px;
  color: white;
  font-weight: bold;
  margin: 0px;
  height: 50px;
  font-family: 'Geist', sans-serif;
}
.mechanismImage {
  width: calc(100% - 40px);
  margin-left: 20px;
  height: calc(100% - 90px);
  border-radius: 15px;
}
.homeMechanismDiv{
  width: 90%;
  margin-left: 5%;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(12.0px);
  -webkit-backdrop-filter: blur(12.0px);
  margin-top: 50px;
  border-radius: 15px;
  transform: translateX(-100%);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.visibleHomeMechanismDiv{
  transform: translateX(0%);
}

.homeScrollDown{
  width: 100%;
  height: 30px;
  margin-top: 50vh;
  font-size: 25px;
  color: lightgray;
  text-align: center;
  font-family: 'Geist', sans-serif;
}
.homeMain::-webkit-scrollbar {
  display: none;
}
.homeMain::-webkit-scrollbar-track {
  display: none;
}
.homeMain::-webkit-scrollbar-thumb {
  display: none;
}

.twist{
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 40px;
  font-family: 'Geist', sans-serif;
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, rgb(0, 174, 255), rgb(255, 0, 242));
}